button.ws-menu-toggle {
	padding: 0.75rem;
	background-color: transparent;
    border: none;
	cursor: pointer;
}

.ws-menu-toggle svg.ws-account-icon {
	width: 32px !important;
	height: 32px !important;
	stroke-width: 1.5;
	fill-opacity: 0;
}
.ws-menu-toggle svg.ws-account-icon:hover {
	fill-opacity: 1;
}

/* Dropdown effects */
.wp-block-willsides-dropdown-login-menu {
    position: relative;
	width: max-content;
	background-color: unset !important;
}
.ws-menu-content {
	visibility: hidden;
	opacity: 0;
	transition: opacity .1s linear;
	position: absolute;
    margin: 0;
	z-index: 2;
	padding: 0.5rem 1rem !important;
	width: max-content !important;
	min-width: calc(200px - 2rem);
	color: #000;
	border: 1px solid rgba(0,0,0,.15);
}
.ws-menu-toggle[aria-expanded=true]+.ws-menu-content {
	visibility: visible;
	opacity: 1;
}
.ws-menu-content.ws-menu-align-left {
	left: 0;
}
.ws-menu-content.ws-menu-align-right {
	right: 0;
}
.ws-menu-content.ws-menu-align-center {
	left: 50%;
	transform: translateX(-50%);
}

/* Remove bullet points from list items */
.ws-menu-content li {
	display: block;
}

.ws-menu-content ul, .ws-menu-content .wp-block-loginout {
    display: flex;
	flex-direction: column;
	align-items: normal;
    list-style: none;
    padding-inline: 0;
}